{% extends 'explore/base_choice.html' %}

{% block header %}
Description des formations :<br/>
- du domaine          -> {{ param[2] }}<br/>
- de niveau de sortie -> {{ param[0] }}<br/>
- dans le département       -> {{ param[4] }}<br/>
- statut              ->  {{ param[5] }}
{% endblock %}


{% block content %}
    {% if formdesc|length %}
    {% block shortDesc %}
        {% for row in formdesc %}
            {% set villes = row.villes['value'] %}
            {% set idcollapse = collapse ~ villes %}
            {% set linkcollapse = '#' ~ collapse ~ villes %}
            {% if loop.index0 > 0 and loop.previtem.villes['value'] != villes %}
                {% set link = 1 %}
            {%endif%}

<div class="d-flex flex-column flex-shrink-0 text-bg-primary table-wrapper"
     style="width: 1100px; height:auto;">
    {% if loop.index0 == 0 or link == 1 %}
    <a class="my-1" data-bs-toggle="collapse" href={{linkcollapse}} role="button"><h4>{{ villes }}</h4></a>
    {% endif%}
   <div class="collapse" id={{idcollapse}}>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Type d'information</th>
                <th scope="col">Valeur</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Nom de la formation</td>
                <td>{{row.nomForm['value']}}</td>
            </tr>
            <tr>
                <td>Distance au lieu enregistré dans mon profil</td>
                <td>{{ ((row.dist['value'] | int ) / 1000 )| int }} km</td>
            </tr>
            <tr>
                <td>Nom de l'établissement</td>
                <td>{{row.etabs['value']}}</td>
            </tr>
            <tr>
                <td>Statut de l'établissement (privé, public, ...)</td>
                <td>{{row.statut['value']}}</td>
            </tr>
            <tr>
                <td>Modalités de scolarité</td>
                <td>{{row.scolmod['value']}}</td>
            </tr>
            {% if row.cost['value']|length %}
            <tr>
                <td>Coût estimé des études</td>
                <td>{{row.cost['value']}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Aperçu des enseignements</td>
                <td>{{row.enseign['value'] }}</td>
            </tr>
            <tr>
                <td>Hébergement</td>
                <td>{{ row.hebergs['value'] }}</td>
            </tr>
            {% if row.siteweb|length %}
            <tr class="bg-secondary">
                <td>Site web</td>
                <td><a href="{{ row.siteweb['value'] }}">{{ row.siteweb['value'] }}</a></td>
            </tr>
            {% endif %}
            {% if row.pageweb|length %}
            <tr class="bg-secondary">
                <td>Page web</td>
                <td><a href="{{ row.pageweb['value'] }}">{{ row.pageweb['value'] }}</a></td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
        {% endfor %}

{% endblock shortDesc %}
       {% else %}
    <h3 class="mt-4"> Aucune formation trouvée avec les contraintes fournies</h3>
{% endif %}
 {% endblock content %}

