{% extends 'base.html' %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/sidebars.js')}}"></script>
{% endblock %}


{% block style %}
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width : 768px) {
.bd-placeholder-img-lg {
font-size: 3.5rem;
}
}

.b-example-divider {
width: 100%;
height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
flex-shrink: 0;
width: 1.5rem;
height: 100vh;
}

.bi {
vertical-align: -.125em;
fill: currentColor;
}

.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}

.nav-scroller .nav {
display: flex;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
--bd-violet-bg: #712cf9;
--bd-violet-rgb: 112.520718, 44.062154, 249.437846;

--bs-btn-font-weight: 600;
--bs-btn-color: var(--bs-white);
--bs-btn-bg: var(--bd-violet-bg);
--bs-btn-border-color: var(--bd-violet-bg);
--bs-btn-hover-color: var(--bs-white);
--bs-btn-hover-bg: #6528e0;
--bs-btn-hover-border-color: #6528e0;
--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
--bs-btn-active-color: var(--bs-btn-hover-color);
--bs-btn-active-bg: #5a23c8;
--bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
z-index: 1500;
}

.table-wrapper {
overflow: scroll;
display:flex;
height:100%;
}

{% endblock %}

{% block navconnect %}
<li> <a class="nav-link" href="{{ url_for('explore.base_choice') }}">Autre recherche</a></li>
{% endblock %}

{% block header %}
<h1>{% block title %}Utilitaire formations{% endblock %}</h1>
{% endblock %}

{% block content %}
<main class="d-flex flex-nowrap">
	<div class="b-example-divider b-example-vr"></div>
	<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-primary" style="width: 180px;">
		<a href="/explore/base_choice"
		   class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
			<span class="fs-5 px-4 bg-secondary fw-semibold">Utilitaires</span>
		</a>
		<ul class="list-unstyled ps-0">
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#src-collapse" aria-expanded="true">Source de données
				</button>
				<div class="collapse" id="src-collapse">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
						<li>
							<a href="#"
							   class="link-body-emphasis d-inline-flex text-decoration-none rounded">Métiers</a>
						</li>
						<li>
							<a href="#"
							   class="link-body-emphasis d-inline-flex text-decoration-none rounded">Formations</a>
						</li>
						<li>
							<a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Établissements</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#var-collapse" aria-expanded="true">Variables
				</button>
				<div class="collapse" id="var-collapse">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
						<li>
							<a href="#"
							   class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ville</a>
						</li>
						<li>
							<a href="#"
							   class="link-body-emphasis d-inline-flex text-decoration-none rounded">Niveau</a>
						</li>
						<li>
							<a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Département</a>
						</li>
					</ul>
				</div>
			</li>

		</ul>
	</div>
	<div class="b-example-divider b-example-vr"></div>
	<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-primary table-wrapper" style="width: 940px;">

		<h2>Recherche dans les données ONISEP</h2>
		<div class="d-flex justify-content-center">
			<div class="spinner-grow text-danger"  style="width: 4rem; height: 4rem;" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>

	</div>
</main>

educationalLevel
{% endblock %}
