{% extends 'explore/base_choice.html' %}

{% block style %}
{% endblock style %}

{% block title %}
Recherche
{% endblock %}
{% block header %}
<h1>Présentation des recherches possibles</h1>
{% endblock %}

{% block nav %}
<li> <a class="nav-link" href="{{ url_for('auth.register') }}">Inscription</a></li>
<li> <a class="nav-link" href="{{ url_for('auth.index') }}">Connection</a></li>
{% endblock %}



{% block content %}
<h2>Approches possibles pour la recherche</h2>
<p>Les ressources proposées forment un univers complexe de données, liées entre elles. il est possible pour chaque
	usager de mettre en place une stratégie de recherche pour trouver l'information valide et pertinente qu'il'
	souhaite obtenir.</p>
<p> Dans l'exemple ci-dessous on accède à l'ensemble des températures en temps réel (toutes les 10 minutes) de
	toutes les stations déployées.</p>
      <!-- Démonstrateur  d'agrégation de données de stations météorologiques G. Vidal 2022-06 -->
<table>
	<tr>
      <iframe height="410" width="700"
			  src="https://stations.tremplin.ens-lyon.fr/opendata/open-69des/indivTemp.html"></iframe>
<iframe height="410" width="700"
		src="https://stations.tremplin.ens-lyon.fr/opendata/open-42seguin/indivTemp.html"></iframe>
</tr>
	<tr>
      <iframe   height="410" width="700"        id="colette" src="https://stations.tremplin.ens-lyon.fr/opendata/open-69colette/indivTemp.html"></iframe>
      <iframe   height="410" width="700"        src="https://stations.tremplin.ens-lyon.fr/opendata/open-69eluard/indivTemp.html"></iframe>
	</tr>
	<tr>
		<iframe   height="410" width="700"        src="https://stations.tremplin.ens-lyon.fr/opendata/open-69schoelcher/indivTemp.html"></iframe>
     <iframe   height="410" width="700"
				 src="https://stations.tremplin.ens-lyon.fr/opendata/open-69dargent/indivTemp.html"></iframe>
</tr>
	<tr>      <iframe   height="410" width="700"        src="https://stations.tremplin.ens-lyon.fr/opendata/open-69longchambon/indivTemp.html"></iframe>
      <iframe   height="410" width="700"        src="https://stations.tremplin.ens-lyon.fr/opendata/open-69clemenceau/indivTemp.html"></iframe>
</tr>
	<tr>      <iframe   height="410" width="700"        src="https://stations.tremplin.ens-lyon.fr/opendata/open-69alain/indivTemp.html"></iframe>
      <iframe   height="410" width="700"        src="https://stations.tremplin.ens-lyon.fr/opendata/open-69tonkin/indivTemp.html"></iframe>
</tr>
	<tr>      <iframe   height="410" width="700"        src="https://stations.tremplin.ens-lyon.fr/opendata/open-69balzac/indivTemp.html"></iframe>
      <iframe   height="410" width="700"        src="https://stations.tremplin.ens-lyon.fr/opendata/open-69barbusse/indivTemp.html"></iframe>
</tr>
	<tr>      <iframe   height="410" width="700"        src="https://stations.tremplin.ens-lyon.fr/opendata/open-69triolet/indivTemp.html"></iframe>
      <iframe   height="410" width="700"        src="https://stations.tremplin.ens-lyon.fr/opendata/open-69vallon/indivTemp.html"></iframe>
</tr>
	<tr>      <iframe   height="410" width="700"        src="https://stations.tremplin.ens-lyon.fr/opendata/open-69marot/indivTemp.html"></iframe>
      <iframe   height="410" width="700"        src="https://stations.tremplin.ens-lyon.fr/opendata/open-76cla/indivTemp.html"></iframe>
</tr>
	<tr>      <iframe   height="410" width="700"        src="https://stations.tremplin.ens-lyon.fr/opendata/open-43moulin/indivTemp.html"></iframe>
      <iframe   height="410" width="700"        src="https://stations.tremplin.ens-lyon.fr/opendata/open-69jouvet/indivTemp.html"></iframe>
</tr>
	<tr>      <iframe height="410" width="700" src="https://stations.tremplin.ens-lyon.fr/opendata/open-76elj/indivTemp.html"></iframe>
      <iframe height="410" width="700" src="https://stations.tremplin.ens-lyon.fr/opendata/open-69gv/indivTemp.html"></iframe>
	</tr>
</table>
{% endblock %}

