{% extends 'base.html' %}

<div class="title">
    {% block title %}
    Météostations Tremplin
    {% endblock title%}
</div>


{% block nav %}
<li><a class="nav-link"
       href="{{ url_for('auth.register') }}">Inscription</a></li>
<li><a class="nav-link"
       href="{{ url_for('auth.login') }}">Connection</a></li>
{% endblock nav %}

{% block navconnect %}
<li><a class="nav-link"
       href="{{ url_for('explore.index') }}">Exploration</a></li>
{% endblock navconnect %}

{% block header %}
Présentation du site
{% endblock %}

{% block content %}
<div class="content">
    <h2>Fonctionnement de l'espace d'exposition des données du réseau Météo Tremplin des Sciences de l'académie de
        Lyon</h2>
    <p>Cet espace permet d'interroger les ressources météorologiques opendata mises à disposition par l'ENS de Lyon
        dans le cadre du projet Tremplin des Sciences. La consultation et l'utilisation des données est libre sous
        licence créative commons CC-BY. Chaque établissement d'enseignement ou bénévole contribuant au
        projet a la maîtrise des données qu'il partage et bénéficie d'un accès privilégié au site
    <h3>Règles d'accès</h3>
    <p>Cliquer sur le bouton <b>Exploration</b> de la barre de commandes du site ci-dessus.</p>
    <p>Pour accéder à la ressource il n'est pas nécessaire de s'authentifier il est toutefois souhaitable que les
        enseignants souhaitant utiliser les données soient authentifiés sur le site afin de disposer des extensions
        pédagogiques mises à disposition pour le système éducatif.</p>

    <h2>Origine des données mises à disposition</h2>
    <p> L'ensemble des données est issu de stations météorologiques financées par le projet PIA1 Tremplin des
        SCiences ou Lyon Métropole. L'installation a été effectuée par l'équipe Tremplin des Sciences de l'IFÉ de
        l'ENS de Lyon. Le maintien en conditions opérationnelles est réalisé par Charles-Henri Eyraud, Éric leJan
        et Gérard Vidal.</p>
</div>

{% endblock %}